/** Fonts **/
@font-face {
  font-family: "AirStrike";
  src: url("../font/airstrike/airstrike.ttf");
}

/** Variables **/
:root {
  --primary: #f73828;
  --bg-color: #000000;
  --white: #ffffff;
  --black: #1a1414;
}

/** Normalize **/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/** Canvas and video frame **/
.video__frame {
  display: none;
}

.video__frame,
.canvas__frame {
  width: 20rem;
  height: 20rem;
  border: solid 0.1rem var(--white);
  aspect-ratio: 16 / 9;
}

.main__layout {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__layout {
  width: 10rem;
  height: 40rem;
  background-color: var(--primary);
  border-radius: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav__link {
  text-decoration: none;
  position: relative;
  color: var(--white);
}

.nav__icon {
  width: 7rem;
  transition: all 300ms ease-in-out;
}

.nav__icon:hover {
  filter: invert(1);
}

.nav__text {
  position: absolute;
  top: 2rem;
  right: -8rem;
  opacity: 0;
  transition: all 300ms ease-in-out;
  width: 100%;
  height: 2rem;
  background: var(--primary);
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.nav__link:hover .nav__text {
  opacity: 1;
}
